@model Model.EF.User

@{
    ViewBag.Title = "List User";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header {List User}
@section breadcrumb { From / List User}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
